.wrapper.home-video-wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0;
    background-color: black;
    height: calc(100vh - ( #{$spacing-unit} * 2) );


    position: relative;
    overflow: hidden;

    .vid {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
        }

    }

.vid {
    display: none;

    &.vid-current {
        display: block;
        }

    }


.site-footer {
    padding: 0 $spacing-unit;
    line-height: $spacing-unit/2;
    background-color: $background-color;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;

    @include max-width($on-laptop) {
        padding: 0 $spacing-unit/2;
        }
      
    }


footer.vid-controls {
    p {
        text-align: center;
        }
    a {
        display: inline-block;
        padding: $spacing-unit/2 5px;
        }
    }

.logo-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{$spacing-unit} );
    padding: $spacing-unit;
    z-index: 9;
    display: flex;

    img {
        margin: auto;
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;

        &.shown {
            opacity: 0.5;
            }
        }

    }
