---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "normalize",
  "base",
  "font-awesome",
  "layout",
  "navigation",
  "gallery",
  "home-page",
  "photoswipe",
  "photoswipe_defaults"
;
